
.vs/DesktopDemo1/v16/Browse.VC.opendb
.vs/DesktopDemo1/v16/Browse.VC.db-wal
.vs/DesktopDemo1/v16/Browse.VC.db-shm
.vs/DesktopDemo1/v16/Browse.VC.db
.vs/DesktopDemo1/v16/.suo
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/e9c98ae05c48a07a/SESSION.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/dfb24a26f24ace7e/LOGGERHANDLER.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/d98fcb26b3a8505e/SIMPLEUI.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/d08039eb72e8e9cf/FLIGHTS.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/982e6e2bf5026902/SIMPLEDB.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/8df44fee9a049fd6/SIMPLEUI.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/8ba512f7f26e5187/PERSISTENCEHANDLER.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/8a4935ffe0872a48/SESSIONHANDLER.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/2bb843a3e502df4f/SYSTEMDRIVERUI.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/27c9c8f12b6c4e61/FLIGHTS.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/2190c6ce51a321b/MAIN.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/1192b5a7806b63d0/USERINTERFACEHANDLER.ipch
.vs/Desktop_Demo_1/v16/Browse.VC.opendb
.vs/Desktop_Demo_1/v16/Browse.VC.db-wal
.vs/Desktop_Demo_1/v16/Browse.VC.db-shm
.vs/Desktop_Demo_1/v16/Browse.VC.db
.vs/Desktop_Demo_1/v16/.suo
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/link.write.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/link.read.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.log
Debug/Desktop_Demo_1.pdb
Debug/Desktop_Demo_1.ilk
Debug/Desktop_Demo_1.exe
Debug/Desktop_Demo_1.exe
Debug/Desktop_Demo_1.pdb
Desktop_Demo_1/Debug/Customer.obj
Desktop_Demo_1/Debug/Desktop_Demo_1.log
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/CL.command.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/CL.read.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/CL.write.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/link.read.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/link.write.1.tlog
Desktop_Demo_1/Debug/vc142.idb
Desktop_Demo_1/Debug/vc142.pdb
*.obj
*.idb
*.pdb
*.log
Desktop_Demo_1/Debug/vc142.pdb
Desktop_Demo_1/Debug/vc142.idb
Desktop_Demo_1/Debug/UserInterfaceHandler.obj
Desktop_Demo_1/Debug/SystemDriverUI.obj
Desktop_Demo_1/Debug/SimpleUI.obj
Desktop_Demo_1/Debug/SimpleDB.obj
Desktop_Demo_1/Debug/SessionHandler.obj
Desktop_Demo_1/Debug/Session.obj
Desktop_Demo_1/Debug/PersistenceHandler.obj
Desktop_Demo_1/Debug/main.obj
Desktop_Demo_1/Debug/LoggerHandler.obj
Desktop_Demo_1/Debug/Customer.obj
Debug/Desktop_Demo_1.pdb
Debug/Desktop_Demo_1.exe
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/9687fe2805dc8c72/SESSION.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/2cdbfea3997f9343/MAIN.ipch
*.tlog
*.log
*.obj
*.pdb
Desktop_Demo_1/Debug/vc142.pdb
Desktop_Demo_1/Debug/vc142.idb
Desktop_Demo_1/Debug/SimpleUI.obj
Desktop_Demo_1/Debug/Session.obj
Desktop_Demo_1/Debug/main.obj
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/link.read.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/CL.write.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/CL.read.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.tlog/CL.command.1.tlog
Desktop_Demo_1/Debug/Desktop_Demo_1.log
Desktop_Demo_1/Debug/Customer.obj
Debug/Desktop_Demo_1.pdb
Debug/Desktop_Demo_1.exe
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/9687fe2805dc8c72/SESSION.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/66eeae25b1f1ad72/CUSTOMER.ipch
.vs/Desktop_Demo_1/v16/ipch/AutoPCH/19099cdebc262a80/SESSIONHANDLER.ipch
.vs/
Debug/
.vscode/
*.exe
